{% extends "admin/base_site.html" %}
{% load i18n admin_urls %}

{% block content %}
<div id="content-main">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="module aligned">
            <div class="form-row">
                <label for="id_image">Upload Image:</label>
                <input type="file" name="image" id="id_image" required>
            </div>
        </fieldset>
        <div class="submit-row">
            <input type="submit" value="Upload Image" class="default" name="_save">
        </div>
    </form>
</div>
{% endblock %}